.logo-btn{
    padding: 10px 0;
    background-color: #F5F5F5;
    border-radius: 5px;
    cursor: pointer;
    color: #1A2D27;
    &:hover{
        transition: all ease-in .1s;
        box-shadow: 0 0 10px rgba(87, 209, 240, 0.8);
    }
    &:nth-of-type(2){
        margin-top: 10px;
        background-color: #FAFFEB;
    }
}