@headerHeight : 80px;
@lineHeight : @headerHeight - 2;
@bgWidth : 400px;
.header{
    box-shadow: 0 2px 8px #f0f1f2;
    background-color: #FFF;
    max-height: @headerHeight;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    .h-row{
        flex-wrap: nowrap;
        overflow: hidden;
    }
    .h-littledark{
        background-color: #F5F5F5;
    }
    .h-bg{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: @headerHeight;
        min-width: @bgWidth;
        &.dance-bg{
            background-image: url("../../static/dance_logo.jpg");
        }
        &.football-bg{
            background-image: url("../../static/football_logo.jpg")
        }
        &.basketball-bg{
            background-image: url("../../static/basketball_logo.jpg")
        }
        &.run-bg{
            background-image: url('../../static/logo.jpeg');
        }
        &.snow-bg{
            background-image: url('../../static/snow_logo.jpg')
        }
    }
    .h-searchctn{
        width: 300px;
        justify-self: left;
        margin-left: 40px;
    }
    .h-rightctn{
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .h-welcome{
        line-height: @lineHeight;
        overflow: hidden;
        max-height: @lineHeight;
        white-space: nowrap;
        margin: 0 50px;
        span{
            font-size: 18px;
            color: lightblue;
            font-weight: 300;

        }
        .name{
            margin-left: 5px;
            color: lightseagreen;
            font-size: 18px;
            max-width: .5rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .h-loginout{
        line-height: @lineHeight;
        overflow: hidden;
        max-height: @lineHeight;
        white-space: nowrap;
        margin: 0 50px 0 0;
        cursor: pointer;
        span{
            font-size: 18px;
            color: coral;
            font-weight: 300;
        }
    }
    #menu-right{
        line-height: @lineHeight !important;
    }
    @media screen and (max-width: 1260px){
        #menu-right{
            margin-right: 0;
        }
    }
    @media screen and (max-width: 768px){
        #menu-right{
            display: table;
            float: none;
            margin: 0 auto;
        }
    }
}