.sc-ctn{
    position: relative;
    height: 75%;
    margin-top: 20px !important;
    width: 256px * 5;
    outline: 3px double #FAFAFA;
    box-shadow: 1px -1px 8px 2px #f0f1f2;
    .sc-header{
        width: 100%;
        height: 10%;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid #F5F5F5;
        align-items: center;
        .sc-select-tips{
            width: 240px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-right: 2px solid #F5F5F5;
            height: 100%;
            text-align: center;
        }
        .sc-select-bar{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
    .sc-body{
        height: 100%;
        width: 100%;
        position: relative;
        .sc-table-tips{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .ant-table-body{
            min-height: 475px;
            height: 475px;
        }
        .ant-table-placeholder{
            transform: translateY(-167px);
        }
        .btn-import{
            margin-right: 10px;
        }
        .btn-uploadComfirm{
            margin-left: 10px;
        }
    }
    .sc-select-info{
        margin-right: 5px;
    }
    .sc-select{
        width: 300px;
    }
}